.alert__modal {

  &>h1 {
    font-size: 23px !important;
    margin-bottom: 14px !important;
  }

  &>h4 {
    color: var(--welcome-back-color);
    margin-bottom: 19px;
    text-align: center;
    font-weight: normal;
  }

  &>.actions {
    display: flex;
    justify-content: center;

    &>.action {
      border: none;
      padding: 14px 22px;
      margin: 14px 21px;
      border-radius: 8px;
      font-size: 18px;
      font-family: 'montserrat-medium', sans-serif;
      cursor: pointer;

      transition: all .3s ease;
      background: transparent;

      &.action__yes {
        border: 2px solid $main;
        background: $main;
        color: white;

        &:hover {
          background: transparent;
          color: $main;
        }
      }

      &.action__no {
        border: 2px solid $main;
        color: $main;

        &:hover {
          background: $main;
          color: white;
        }
      }
    }
  }

}