<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>NSI Joliot Curie</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>

    <script src="{{ url_for('static', filename='javascript/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/preferences.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/api.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/utils.js') }}"></script>

    <!-- lib -->
    <script src="{{ url_for('static', filename='javascript/lib/Component.js') }}"></script>

    <!-- routes -->
    <script src="{{ url_for('static', filename='pages/Layout.js') }}"></script>

    <script src="{{ url_for('static', filename='pages/Login.js') }}"></script>
    <script src="{{ url_for('static', filename='pages/Home.js') }}"></script>
    <script src="{{ url_for('static', filename='pages/Folders.js') }}"></script>
    <!-- routes -->

    <script src="{{ url_for('static', filename='javascript/lib/Router.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/lib/loader.js') }}"></script>
    <!-- lib -->

    <div id="root"></div>

</body>
</html>