.home {
  display: flex;
  flex-wrap: wrap;

  place-items: center;
  justify-content: center;

  height: 100%;


  &>section {

    &>.right__top {
      background: var(--section-color);

      width: 48em;
      height: 238px;

      border-radius: 20px;

      display: flex;
      justify-content: space-evenly;

      &>.top__left {
        padding: 60px 0;

        &>h1 {
          font-family: 'kaleko-bold', sans-serif;
          font-size: 45px;
          margin: 0 49px;
        }

        &>h4 {
          font-family: 'kaleko-light', sans-serif;
          color: var(--welcome-back-color);
          font-size: 20px;

          margin: 29px 49px;
          font-weight: normal;
        }
      }

      &>.top__picture {
        background: url(../images/model.png), center;
        background-size: cover;

        width: 238px;
        height: 100%;
      }
    }

    &>.right__bottom {
      background: var(--section-color);

      width: 48em;

      margin: 33px 0 0;
      border-radius: 20px;

      &>.tools__wrapper {
        display: flex;
        flex-wrap: wrap;

        &>a {
          background: var(--theme-background);
          padding: 10px 27px;
          margin: 25px 18px;
          border-radius: 11px;
          width: 21em;

          transition: all .3s ease;

          &:hover {
            background: var(--details-color);
          }

          &>h1 {
            font-family: 'kaleko-light', sans-serif;
            display: inline-block;

            position: relative;
            top: -29px;
            margin-right: 12px;

            font-size: 21px;
            width: 55%;
          }

          &>.picture {
            width: 100px;
            height: 100px;

            display: inline-block;

            background-size: cover !important;
            background-position: center !important;

            &.code { background: url(../images/3d/device.png); }
            &.agenda { background: url(../images/3d/book.webp); }
            &.todolist { background: url(../images/3d/todolist.png); }
          }
        }
      }
    }

    &.last__files {
      background: var(--section-color);

      width: 24em;
      height: 64vh;

      margin-left: 35px;

      border-radius: 20px;


      &>h1 {
        font-family: "kaleko-bold", sans-serif;
        margin: 48px 56px;
        font-size: 26px;
        letter-spacing: 1px;
      }

      &>.files {
        display: grid;

        &>a {
          background: var(--theme-background);
          padding: 14px 41px;
          margin: 10px 57px;
          border-radius: 14px;

          transition: all .3s ease;

          &:hover {
            background: var(--details-color);
          }

          &>span {
            position: relative;
            top: 0;
            display: inline-block;
          }

          &>p {
            position: relative;
            display: inline-block;
            font-size: 24px;

            top: -10px;
            left: 13px;
          }
        }
      }
    }

  }

}

/* RESPONSIVE */

@media screen and (max-width: 1567px) {
  .home > section.last__files {
    width: 20em;
  }
  .home > section.last__files > .files > a {
    margin: 10px 24px;
  }
  .home > section.last__files > h1 {
    margin: 48px 0;
    text-align: center;
  }
}

@media screen and (max-width: 1481px) {
  .home {
    display: grid;
    margin: 3em 0;
  }
  .home > section.last__files {
    width: 48em;
    height: auto;
    margin-left: unset;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .home > section.last__files > .files {
    display: flex;
    padding-bottom: 2em;
  }

}