.links__wrapper {
  display: grid;
  align-items: center;
  justify-items: center;

  width: 100%;
  height: 100%;

  &>.links {
    background: var(--section-color);

    width: 34em;

    padding: 40px 43px 9px;

    top: calc(50% - 438px/2);
    left: calc(50% - 211px/2);

    position: absolute;

    border-radius: 20px;

    &>h1 {
      font-family: 'kaleko-bold', sans-serif;
    }

    &>.links__list {
      display: flex;
      flex-wrap: wrap;

      margin: 26px 0;


      &>.link {
        background-size: cover !important;
        background-position: center !important;

        padding: 45px 36px;
        margin: 10px 16px;

        border-radius: 20px;

        position: relative;

        width: 12em;
        height: 10em;

        display: grid;
        text-align: center;
        align-items: center;

        transition: all .3s ease;

        &:hover {
          transform: scale(1.1);
          z-index: 1;

          &>.filter {
            opacity: 40%;
          }
        }

        &>.filter {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          opacity: 70%;
          background: #0000006e;

          transition: all .3s ease;

          border-radius: 20px;
        }

        &>h1 {
          font-family: 'kaleko-bold', sans-serif;
          position: relative;
          z-index: 1;
          color: white;
        }

        @each $thumbnail in ("capytale","tkinter","studio_code") {
          &.#{$thumbnail} {
            background: url(../images/links/#{$thumbnail}.jpg);
          }
        }

      }
    }
  }
}