.window__middle {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #00000047;
  z-index: 99;

  &>.modal {
    background: var(--theme-background);
    padding: 57px 59px;
    border-radius: 20px;
    position: relative;
    display: grid;

    animation: .5s open-modal alternate;

    &>button {
      border: none;
      border-radius: 100px;
      padding: 17px 27px;

      background: var(--section-color);
      cursor: pointer;
      transition: all 0.3s ease;

      margin-top: 27px;
      font-size: 18px;

      font-family: 'montserrat-bold', sans-serif;
      color: var(--text-color);

      &:hover {
        background: $main;
        color: white;

        &>span {
          color: white;

          &.icon {
            filter: $white-filter;
          }
        }
      }

      &>span {
        position: relative;
        top: -13px;
        color: white;
        right: 1px;

        font-family: 'montserrat-bold', sans-serif;

        &.add {
          top: 2px;
          right: 3px;
        }
      }
    }

    &>.close {
      position: absolute;
      top: -13px;
      right: -9px;
      color: white;
      background: $main;
      padding: 2px 12px;
      font-size: 31px;
      border-radius: 100px;
      cursor: pointer;

      transition: all .3s ease;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &>h1 {
      font-family: 'kaleko-bold', sans-serif;
      text-align: center;
      margin-bottom: 47px;
    }

    &>input[type="file"] {
      display: none;
    }

    &>.drag__area {
      display: grid;
      justify-content: center;
      padding: 72px 35px;
      border-radius: 20px;
      position: relative;

      cursor: pointer;

      border: 8px dotted $main;
      transition: all .3s ease;
      color: $main;

      &.error {
        border-color: #fc6e6e;
        color: #fc6e6e;
      }

      $hovered: #8c7efa;
      &:hover {
        border-color: $hovered !important;
        color: $hovered;
      }

      &>p.files, &>p.file {
        color: var(--text-color);

        &:hover {
          color: var(--text-color);
        }
      }

      &>p.files {
        margin-bottom: 14px;

        &>span#files_length {
          background: $main;
          color: white;
          padding: 4px 13px;
          border-radius: 100px;
          margin-left: 5px;
        }
      }
    }
  }

  @keyframes open-modal {
    from { transform: scale(0)  }
    to { transform: scale(1) }
  }

  @keyframes close-modal {
    from { transform: scale(1) }
    to { transform: scale(0) }
  }
}