.profile {
  width: 21em;

  position: fixed;
  left: 0;
  top: 0;
  height: 100%;

  background: var(--section-color);

  &>.top {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;

    margin: 15px 20px 0;

    &>.right {
      margin-right: 3em;

      &>img {
        width: 80px;
        border-radius: 10px;
      }
    }

    &>.left {

      &>h3 {
        &:first-child {
          font-size: 26px;
          font-family: 'kaleko-bold', sans-serif;
          margin-bottom: 6px;
        }

        &:last-child {
          color: var(--welcome-back-color);
        }


        margin: 3px 0;

        font-size: 18px;

        text-transform: capitalize;
        letter-spacing: 3px;
      }
    }
  }

  &>h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 23px;
    text-transform: capitalize;

    margin-top: 4em;
    text-align: center;
  }

  &>nav {
    margin-top: -2em;

    &>ul {
      list-style: none;
      margin: 4em 0;

      &>a {
        font-size: 20px;

        &>li {
          padding: 11px 47px;
          border-radius: 8px;
          margin: 2em 18px;

          transition: all .2s ease;

          &.active, &:hover {
            background: $main;
            color: white;

            &>.icon {
              filter: $white-filter;
            }
          }

          &>span {
            position: relative;
            top: -10px;
          }

          &>.icon {
            position: relative;
            top: 3px;
            left: -32px;
          }
        }
      }
    }
  }

  &>.bottom {
    border-top: 2px solid var(--theme-background);
    padding-top: 18px;

    position: absolute;
    bottom: 10px;
    left: 6px;

    &>.disconnect {
      background: var(--theme-background);

      transition: all .3s ease;

      padding: 13px 16px;
      border-radius: 10px;
      margin: 0 15px;
      cursor: pointer;

      &:hover {
        background: var(--details-color);
      }

      &>span {
        position: relative;

        top: -7px;
        left: 45px;
      }

      &>.icon {
        position: relative;

        top: 2px;
        left: 5px;

        width: 30px;
        height: 30px;
      }
    }


    &>.themes {
      display: flex;
      margin: 1em 1em;

      padding: 9px 9px;
      border-radius: 10px;

      position: relative;

      transition: all .3s ease;

      background: var(--background-color);

      .fill {
        background: var(--section-color);

        width: 125px;
        height: 74%;

        position: absolute;
        z-index: 1;

        transition: all .3s ease;
      }

      & > div {
        display: flex;
        padding: 6px 19px 6px 17px;
        border-radius: 10px;

        cursor: pointer;
        position: relative;
        z-index: 2;

        transition: all .3s ease;

        &:hover {
          background: var(--section-color);
        }

        &.light {
          margin-right: 20px;
        }

        & > .icon {
          position: relative;
          top: 2px;
          margin-right: 14px;
        }

        & > .text {
          color: var(--text-color);
          font-family: 'montserrat-medium', sans-serif;
          position: relative;
          top: 12px;
        }
      }
    }
  }

}