@font-face {
  src: url(../fonts/montserrat-bold.otf);
  font-family: montserrat-bold;
}
@font-face {
  src: url(../fonts/montserrat-regular.otf);
  font-family: montserrat-regular;
}
@font-face {
  src: url(../fonts/montserrat-medium.otf);
  font-family: montserrat-medium;
}
@font-face {
  src: url(../fonts/montserrat-thin.otf);
  font-family: montserrat-thin;
}
@font-face {
  src: url(../fonts/kaleko-bold.otf);
  font-family: kaleko-bold;
}
@font-face {
  src: url(../fonts/kaleko-light.otf);
  font-family: kaleko-light;
}
/* COLORS */
html[data-theme][data-theme=dark] {
  --background-color: #242B3B;
  --text-color: white;
  --section-color: #0D1321;
  --filter: invert(100%) sepia(7%) saturate(7493%)
    hue-rotate(291deg) brightness(105%) contrast(112%);
  --theme-background: #242B3B;
  --welcome-back-color: #E8E8E8;
}
html[data-theme][data-theme=light] {
  --background-color: #F7F7F7;
  --text-color: #0D1321;
  --section-color: white;
  --filter: invert(5%) sepia(7%) saturate(7350%)
  hue-rotate(188deg) brightness(97%) contrast(95%);
  --theme-background: #F7F7F7;
  --welcome-back-color: #656565;
}

/* END COLORS */
*,
*::before,
*::after {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "montserrat-regular", sans-serif;
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

/* IMPORTS */
html[data-theme][data-theme=dark] .themes > .light > span {
  color: #AEAEAE !important;
}
html[data-theme][data-theme=dark] .themes > .light > .icon {
  -webkit-filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
          filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
}
html[data-theme][data-theme=dark] .themes > .fill {
  left: 9.6em;
}
html[data-theme][data-theme=light] .themes > .dark > span {
  color: #AEAEAE !important;
}
html[data-theme][data-theme=light] .themes > .dark > .icon {
  -webkit-filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
          filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
}
html[data-theme][data-theme=light] .themes > .fill {
  left: 11px;
}

.notification {
  position: fixed;
  bottom: 27px;
  right: 49px;
  border-radius: 20px;
  padding: 18px 32px;
  background: var(--section-color);
  -webkit-box-shadow: 0 0 black;
          box-shadow: 0 0 black;
  -webkit-animation: notification-on 0.3s alternate;
          animation: notification-on 0.3s alternate;
}
.notification > h4 {
  color: var(--text-color);
  font-size: 17px;
  font-weight: normal;
  margin-right: 23px;
}
.notification > span {
  background: #5D49F5;
  padding: 6px 13px;
  border-radius: 100px;
  color: white;
  font-size: 22px;
  -webkit-box-shadow: -1px 2px 6px #7d777745;
          box-shadow: -1px 2px 6px #7d777745;
  cursor: pointer;
}
.notification > * {
  display: inline-block;
}
@-webkit-keyframes notification-on {
  from {
    right: -326px;
  }
  to {
    right: 49px;
  }
}
@keyframes notification-on {
  from {
    right: -326px;
  }
  to {
    right: 49px;
  }
}
@-webkit-keyframes notification-off {
  from {
    right: 49px;
  }
  to {
    right: -326px;
  }
}
@keyframes notification-off {
  from {
    right: 49px;
  }
  to {
    right: -326px;
  }
}

.icon {
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  background-size: cover !important;
  background-position: center !important;
  -webkit-filter: var(--filter);
          filter: var(--filter);
  display: inline-block;
  cursor: pointer;
}
.icon.news {
  background: url("../images/icons/news.svg");
}
.icon.settings {
  background: url("../images/icons/settings.svg");
}
.icon.sun {
  background: url("../images/icons/sun.svg");
}
.icon.moon {
  background: url("../images/icons/moon.svg");
}
.icon.links {
  background: url("../images/icons/links.svg");
}
.icon.multiple-folders {
  background: url("../images/icons/multiple-folders.svg");
}
.icon.sign-out {
  background: url("../images/icons/sign-out.svg");
}

.profile {
  left: 0;
  top: 0;
  width: 345px;
  height: 100vh;
  background: var(--section-color);
}
.profile > .top {
  width: 100%;
  height: 15%;
  background: #5D49F5;
  position: relative;
}
.profile > .top > img {
  width: 103px;
  border-radius: 100px;
  position: absolute;
  top: 61%;
  left: 36%;
}
.profile > .top > button {
  color: #FCFBFF;
  background: #382C93;
  position: absolute;
  right: 29px;
  top: 12px;
  border: none;
  border-radius: 100px;
  padding: 10px 11px;
}
.profile > .top > button > span {
  position: relative;
  top: 3px;
  left: 4px;
  -webkit-filter: invert(100%) sepia(5%) saturate(6073%) hue-rotate(180deg) brightness(96%) contrast(112%);
          filter: invert(100%) sepia(5%) saturate(6073%) hue-rotate(180deg) brightness(96%) contrast(112%);
}
.profile > h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 23px;
  text-transform: capitalize;
  margin-top: 4em;
  text-align: center;
}
.profile > nav {
  margin-top: 10px;
}
.profile > nav > ul {
  list-style: none;
  margin: 6em 0;
}
.profile > nav > ul > li {
  margin: 2em 2em;
  position: relative;
}
.profile > nav > ul > li.active > a {
  color: #5D49F5;
}
.profile > nav > ul > li.active > a::before {
  display: block;
}
.profile > nav > ul > li.active > a > .icon {
  -webkit-filter: invert(26%) sepia(87%) saturate(3581%) hue-rotate(241deg) brightness(99%) contrast(94%);
          filter: invert(26%) sepia(87%) saturate(3581%) hue-rotate(241deg) brightness(99%) contrast(94%);
}
.profile > nav > ul > li > a {
  font-size: 20px;
}
.profile > nav > ul > li > a > .icon {
  margin-right: 30px;
}
.profile > nav > ul > li > a::before {
  content: "";
  display: none;
  position: absolute;
  left: -28px;
  top: 9px;
  width: 6px;
  height: 100%;
  border-radius: 10px;
  background: #5D49F5;
}
.profile > nav > ul > li > a:hover {
  color: #5D49F5;
}
.profile > nav > ul > li > a:hover > .icon {
  -webkit-filter: invert(26%) sepia(87%) saturate(3581%) hue-rotate(241deg) brightness(99%) contrast(94%);
          filter: invert(26%) sepia(87%) saturate(3581%) hue-rotate(241deg) brightness(99%) contrast(94%);
}
.profile > nav > ul > li > a:hover::before {
  display: block;
}
.profile > .bottom {
  position: absolute;
  bottom: 35px;
}
.profile > .bottom > .themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 1em;
  padding: 9px 9px;
  border-radius: 100px;
  position: relative;
  background: var(--background-color);
}
.profile > .bottom > .themes .fill {
  background: var(--section-color);
  width: 125px;
  height: 74%;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.profile > .bottom > .themes > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 19px 6px 17px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.profile > .bottom > .themes > div.light {
  margin-right: 20px;
}
.profile > .bottom > .themes > div > .icon {
  position: relative;
  top: 2px;
  margin-right: 14px;
}
.profile > .bottom > .themes > div > .text {
  color: var(--text-color);
  font-family: "montserrat-medium", sans-serif;
  position: relative;
  top: 12px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home > section > .right__top {
  background: var(--section-color);
  width: 890px;
  height: 238px;
  margin: 33px 54px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home > section > .right__top > .top__left {
  padding: 60px 0;
}
.home > section > .right__top > .top__left > h1 {
  font-family: "kaleko-bold", sans-serif;
  font-size: 45px;
  margin: 0 49px;
}
.home > section > .right__top > .top__left > h4 {
  font-family: "kaleko-light", sans-serif;
  color: var(--welcome-back-color);
  font-size: 20px;
  margin: 29px 49px;
  font-weight: normal;
}
.home > section > .right__top > .top__picture {
  background: url(../images/model.png), center;
  background-size: cover;
  width: 238px;
  height: 100%;
}
.home > section > .right__bottom {
  background: var(--section-color);
  width: 890px;
  height: 627px;
  margin: 33px 54px 0;
  border-radius: 20px;
}

.login__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__wrapper > .left {
  width: 63em;
  height: 100vh;
  background: url(../images/background.jpg) center;
  background-size: cover;
}
.login__wrapper > .right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57em;
}
.login__wrapper > .right > .login__form {
  width: 30em;
  height: 50vh;
  border-radius: 11px;
  padding: 70px 29px 31px;
  background: var(--section-color);
}
.login__wrapper > .right > .login__form > h1 {
  font-family: "kaleko-bold", sans-serif;
  font-size: 37px;
  text-align: center;
}
.login__wrapper > .right > .login__form > .form {
  margin: 3em 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__wrapper > .right > .login__form > .form > input {
  background: transparent;
  border: 1px solid var(--background-color);
  color: var(--text-color);
  display: block;
  padding: 17px 25px;
  border-radius: 10px;
  margin: 13px 0;
  width: 21em;
}
.login__wrapper > .right > .login__form > .form > input::-webkit-input-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input::-moz-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input:-ms-input-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input::-ms-input-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input::placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input.error {
  border: 1px solid #fe5959;
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::-webkit-input-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::-moz-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error:-ms-input-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::-ms-input-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > button {
  cursor: pointer;
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 100px;
  margin-top: 3em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
  border: 2px solid #5D49F5;
  color: #5D49F5;
  font-family: "montserrat-medium", sans-serif;
}
.login__wrapper > .right > .login__form > .form > button:hover {
  color: #FCFBFF;
  background: #5D49F5;
}

/* END IMPORTS */