@font-face {
  src: url(../fonts/montserrat-bold.otf);
  font-family: montserrat-bold;
}
@font-face {
  src: url(../fonts/montserrat-regular.otf);
  font-family: montserrat-regular;
}
@font-face {
  src: url(../fonts/montserrat-medium.otf);
  font-family: montserrat-medium;
}
@font-face {
  src: url(../fonts/montserrat-thin.otf);
  font-family: montserrat-thin;
}
@font-face {
  src: url(../fonts/kaleko-bold.otf);
  font-family: kaleko-bold;
}
@font-face {
  src: url(../fonts/kaleko-light.otf);
  font-family: kaleko-light;
}
/* COLORS */
html[data-theme][data-theme=dark] {
  --background-color: #242B3B;
  --text-color: white;
  --section-color: #0D1321;
  --filter: invert(100%) sepia(7%) saturate(7493%)
    hue-rotate(291deg) brightness(105%) contrast(112%);
  --theme-background: #242B3B;
  --welcome-back-color: #E8E8E8;
  --details-color: #171f32;
  --details-hover-color: #354262;
}
html[data-theme][data-theme=light] {
  --background-color: #F7F7F7;
  --text-color: #0D1321;
  --section-color: white;
  --filter: invert(5%) sepia(7%) saturate(7350%)
  hue-rotate(188deg) brightness(97%) contrast(95%);
  --theme-background: #F7F7F7;
  --welcome-back-color: #656565;
  --details-color: #e2e2e2;
  --details-hover-color: #e7e7e7;
}

/* END COLORS */
*,
*::before,
*::after {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "montserrat-regular", sans-serif;
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#root {
  width: 100%;
  height: 100%;
  padding-left: 21em;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

/* IMPORTS */
html[data-theme][data-theme=dark] .themes > .light > span {
  color: #AEAEAE !important;
}
html[data-theme][data-theme=dark] .themes > .light > .icon {
  -webkit-filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
          filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
}
html[data-theme][data-theme=dark] .themes > .fill {
  left: 9.6em;
}
html[data-theme][data-theme=light] .themes > .dark > span {
  color: #AEAEAE !important;
}
html[data-theme][data-theme=light] .themes > .dark > .icon {
  -webkit-filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
          filter: invert(74%) sepia(33%) saturate(7%) hue-rotate(4deg) brightness(89%) contrast(89%);
}
html[data-theme][data-theme=light] .themes > .fill {
  left: 11px;
}

.notification {
  position: fixed;
  bottom: 27px;
  right: 49px;
  border-radius: 20px;
  padding: 18px 32px;
  background: var(--details-color);
  -webkit-box-shadow: 0 0 black;
          box-shadow: 0 0 black;
  -webkit-animation: notification-on 0.3s alternate;
          animation: notification-on 0.3s alternate;
}
.notification > h4 {
  color: var(--text-color);
  font-size: 17px;
  font-weight: normal;
  margin-right: 23px;
}
.notification > span {
  background: #5D49F5;
  padding: 6px 13px;
  border-radius: 100px;
  color: white;
  font-size: 22px;
  -webkit-box-shadow: -1px 2px 6px #7d777745;
          box-shadow: -1px 2px 6px #7d777745;
  cursor: pointer;
}
.notification > * {
  display: inline-block;
}
@-webkit-keyframes notification-on {
  from {
    right: -326px;
  }
  to {
    right: 49px;
  }
}
@keyframes notification-on {
  from {
    right: -326px;
  }
  to {
    right: 49px;
  }
}
@-webkit-keyframes notification-off {
  from {
    right: 49px;
  }
  to {
    right: -326px;
  }
}
@keyframes notification-off {
  from {
    right: 49px;
  }
  to {
    right: -326px;
  }
}

.icon {
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  background-size: cover !important;
  background-position: center !important;
  -webkit-filter: var(--filter);
          filter: var(--filter);
  display: inline-block;
  cursor: pointer;
}
.icon.news {
  background: url("../images/icons/news.svg");
}
.icon.settings {
  background: url("../images/icons/settings.svg");
}
.icon.sun {
  background: url("../images/icons/sun.svg");
}
.icon.moon {
  background: url("../images/icons/moon.svg");
}
.icon.links {
  background: url("../images/icons/links.svg");
}
.icon.multiple-folders {
  background: url("../images/icons/multiple-folders.svg");
}
.icon.sign-out {
  background: url("../images/icons/sign-out.svg");
}
.icon.folder {
  background: url("../images/icons/folder.svg");
}
.icon.add {
  background: url("../images/icons/add.svg");
}
.icon.document {
  background: url("../images/icons/document.svg");
}
.icon.more {
  background: url("../images/icons/more.svg");
}
.icon.download {
  background: url("../images/icons/download.svg");
}
.icon.pdf {
  background: url("../images/icons/pdf.svg");
}
.icon.check {
  background: url("../images/icons/check.svg");
}
.icon.cross {
  background: url("../images/icons/cross.svg");
}
.icon.pencil {
  background: url("../images/icons/pencil.svg");
}
.icon.info {
  background: url("../images/icons/info.svg");
}
.icon.folder-open {
  background: url("../images/icons/folder-open.svg");
}
.icon.image {
  background: url("../images/icons/image.svg");
}
.icon.user {
  background: url("../images/icons/user.svg");
}
.icon.users {
  background: url("../images/icons/users.svg");
}
.icon.archive {
  background: url("../images/icons/archive.svg");
}
.icon.tool {
  background: url("../images/icons/tool.svg");
}
.icon.box {
  background: url("../images/icons/box.svg");
}

.auto__completer {
  position: relative;
}
.auto__completer > input {
  padding: 15px 20px;
  background: var(--details-color);
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  width: 100%;
}
.auto__completer > .suggestion {
  position: absolute;
  top: 65px;
  list-style: none;
  background: var(--section-color);
  padding: 12px 16px;
  border-radius: 10px;
  width: 100%;
  z-index: 9;
  display: none;
}
.auto__completer > .suggestion > h3 {
  text-align: center;
  padding: 14px 0;
  color: var(--welcome-back-color);
  font-weight: normal;
}
.auto__completer > .suggestion > li {
  cursor: pointer;
  padding: 10px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.auto__completer > .suggestion > li:hover {
  background: var(--details-color);
}
.auto__completer > .suggestion > li > img {
  width: 49px;
  border-radius: 10px;
}
.auto__completer > .suggestion > li > h3 {
  color: var(--welcome-back-color);
  font-weight: normal;
  font-size: 16px;
  position: relative;
  top: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.window__middle {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000047;
  z-index: 99;
}
.window__middle > .modal {
  background: var(--theme-background);
  padding: 57px 59px;
  border-radius: 20px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-animation: 0.5s open-modal alternate;
          animation: 0.5s open-modal alternate;
}
.window__middle > .modal > .close {
  position: absolute;
  top: -13px;
  right: -9px;
  color: white;
  background: #5D49F5;
  padding: 2px 12px;
  font-size: 31px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.window__middle > .modal > .close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.window__middle > .modal > h1 {
  font-family: "kaleko-bold", sans-serif;
  text-align: center;
  margin-bottom: 47px;
}
@-webkit-keyframes open-modal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes open-modal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes close-modal {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes close-modal {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.profile {
  width: 21em;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--section-color);
}
.profile > .top {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 20px 0;
}
.profile > .top > .right {
  margin-right: 3em;
}
.profile > .top > .right > img {
  width: 80px;
  border-radius: 10px;
}
.profile > .top > .left > h3 {
  margin: 3px 0;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.profile > .top > .left > h3:first-child {
  font-size: 26px;
  font-family: "kaleko-bold", sans-serif;
  margin-bottom: 6px;
}
.profile > .top > .left > h3:last-child {
  color: var(--welcome-back-color);
}
.profile > h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 23px;
  text-transform: capitalize;
  margin-top: 4em;
  text-align: center;
}
.profile > nav {
  margin-top: -2em;
}
.profile > nav > ul {
  list-style: none;
  margin: 4em 0;
}
.profile > nav > ul > a {
  font-size: 20px;
}
.profile > nav > ul > a > li {
  padding: 11px 47px;
  border-radius: 8px;
  margin: 2em 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.profile > nav > ul > a > li.active, .profile > nav > ul > a > li:hover {
  background: #5D49F5;
  color: white;
}
.profile > nav > ul > a > li.active > .icon, .profile > nav > ul > a > li:hover > .icon {
  -webkit-filter: invert(100%) sepia(7%) saturate(7493%) hue-rotate(291deg) brightness(105%) contrast(112%);
          filter: invert(100%) sepia(7%) saturate(7493%) hue-rotate(291deg) brightness(105%) contrast(112%);
}
.profile > nav > ul > a > li > span {
  position: relative;
  top: -11px;
  font-size: 17px;
}
.profile > nav > ul > a > li > .icon {
  position: relative;
  top: 3px;
  left: -32px;
}
.profile > .bottom {
  border-top: 2px solid var(--theme-background);
  padding-top: 18px;
  position: absolute;
  bottom: 10px;
  left: 6px;
}
.profile > .bottom > .disconnect {
  background: var(--theme-background);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 13px 16px;
  border-radius: 10px;
  margin: 0 15px;
  cursor: pointer;
}
.profile > .bottom > .disconnect:hover {
  background: var(--details-color);
}
.profile > .bottom > .disconnect > span {
  position: relative;
  top: -7px;
  left: 45px;
}
.profile > .bottom > .disconnect > .icon {
  position: relative;
  top: 2px;
  left: 5px;
  width: 30px;
  height: 30px;
}
.profile > .bottom > .themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 1em;
  padding: 9px 9px;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: var(--background-color);
}
.profile > .bottom > .themes .fill {
  background: var(--section-color);
  width: 125px;
  height: 74%;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.profile > .bottom > .themes > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 19px 6px 17px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.profile > .bottom > .themes > div:hover {
  background: var(--section-color);
}
.profile > .bottom > .themes > div.light {
  margin-right: 20px;
}
.profile > .bottom > .themes > div > .icon {
  position: relative;
  top: 2px;
  margin-right: 14px;
}
.profile > .bottom > .themes > div > .text {
  color: var(--text-color);
  font-family: "montserrat-medium", sans-serif;
  position: relative;
  top: 12px;
}

/* TOOLS */
.code__wrapper > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.code__wrapper > .top > .statement {
  width: 40em;
  height: 70vh;
  background: var(--section-color);
}
.code__wrapper > .top > #code {
  background: var(--section-color);
  width: 56em;
  height: 70vh;
  resize: none;
  padding: 26px 24px;
  font-size: 13px;
  border: none;
  border-left: 5px solid var(--theme-background);
  color: var(--text-color);
  font-family: "consolas", sans-serif;
}
.code__wrapper > .top > #code > .color_1 {
  color: #d4d4d4;
}
.code__wrapper > .top > #code > .color_2 {
  color: #6a9955;
}
.code__wrapper > .top > #code > .color_3 {
  color: #dcdcaa;
}
.code__wrapper > .top > #code > .color_4 {
  color: #ce9178;
}
.code__wrapper > .output {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 30vh;
  background: var(--section-color);
  border-top: 5px solid var(--theme-background);
}

/* MODAL */
.modal > button {
  border: none;
  border-radius: 100px;
  padding: 17px 27px;
  background: var(--section-color);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 27px;
  font-size: 18px;
  font-family: "montserrat-bold", sans-serif;
  color: var(--text-color);
}
.modal > button:hover {
  background: #5D49F5;
  color: white;
}
.modal > button:hover > span {
  color: white;
}
.modal > button:hover > span.icon {
  -webkit-filter: invert(100%) sepia(7%) saturate(7493%) hue-rotate(291deg) brightness(105%) contrast(112%);
          filter: invert(100%) sepia(7%) saturate(7493%) hue-rotate(291deg) brightness(105%) contrast(112%);
}
.modal > button > span {
  position: relative;
  top: -13px;
  color: white;
  right: 1px;
  font-family: "montserrat-bold", sans-serif;
}
.modal > button > span.add {
  top: 2px;
  right: 3px;
}
.modal > input[type=file] {
  display: none;
}
.modal > .drag__area {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 72px 35px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  border: 8px dotted #5D49F5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #5D49F5;
}
.modal > .drag__area.error {
  border-color: #fc6e6e;
  color: #fc6e6e;
}
.modal > .drag__area:hover {
  border-color: #8c7efa !important;
  color: #8c7efa;
}
.modal > .drag__area > p.files, .modal > .drag__area > p.file {
  color: var(--text-color);
}
.modal > .drag__area > p.files:hover, .modal > .drag__area > p.file:hover {
  color: var(--text-color);
}
.modal > .drag__area > p.files {
  margin-bottom: 14px;
}
.modal > .drag__area > p.files > span#files_length {
  background: #5D49F5;
  color: white;
  padding: 4px 13px;
  border-radius: 100px;
  margin-left: 5px;
}

.modal > .name {
  padding: 15px 20px;
  background: var(--details-color);
  border: none;
  border-radius: 10px;
  color: var(--text-color);
}
.modal > .folder_customization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  position: relative;
}
.modal > .folder_customization > .color_picker {
  position: relative;
}
.modal > .folder_customization > .color_picker > .color__chooser {
  width: 121px;
  height: 60px;
  position: relative;
  border-radius: 13px;
  top: -14px;
  background: var(--text-color);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal > .folder_customization > .color_picker > .colors__selector {
  position: absolute;
  padding: 10px 11px;
  background: var(--section-color);
  border-radius: 15px;
  display: none;
  z-index: 9;
}
.modal > .folder_customization > .color_picker > .colors__selector > .color {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  margin: 1px 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal > .folder_customization > .color_picker > .colors__selector > .color:hover {
  opacity: 50%;
}
.modal > .folder_customization > .icons__selector {
  position: absolute;
  top: 64px;
  right: 8%;
  background: var(--details-color);
  padding: 10px 12px;
  border-radius: 14px;
  z-index: 9;
  display: none;
}
.modal > .folder_customization > .icons__selector > .item {
  background: var(--details-hover-color);
  border-radius: 16px;
  padding: 7px 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 5px;
  cursor: pointer;
}
.modal > .folder_customization > .icons__selector > .item:hover {
  opacity: 50%;
}
.modal > .folder_customization > .icons__selector > .item > .icon {
  position: relative;
  top: 4px;
}
.modal > .folder_customization > .selected_icon {
  cursor: pointer;
  margin-top: -16px;
  margin-left: 27px;
  background: var(--theme-background);
  border: 5px dotted var(--details-color);
  border-radius: 15px;
  position: relative;
  width: 88px;
  height: 63px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.modal > .folder_customization > .selected_icon > .icon {
  position: absolute;
  top: 7px;
}
.modal > h4 {
  color: var(--welcome-back-color);
  font-weight: normal;
  margin: 19px 0;
  font-size: 17px;
}
.modal > .permission__list {
  background: var(--details-color);
  margin-top: 17px;
  padding: 20px 22px;
  border-radius: 10px;
  border-spacing: 9px;
}
.modal > .permission__list > tbody {
  overflow: auto;
  max-height: 12em;
  display: block;
}
.modal > .permission__list tr {
  font-family: "montserrat-bold", sans-serif;
  text-transform: capitalize;
}
.modal > .permission__list tr > th {
  padding: 10px 13px;
}
.modal > .permission__list tr > td {
  padding: 10px 10px;
  color: var(--welcome-back-color);
  border-radius: 6px;
  text-align: center;
}
.modal > .permission__list tr > td > input[type=checkbox] {
  display: none;
}
.modal > .permission__list tr > td > input[type=checkbox]:checked + label {
  background: var(--section-color);
}
.modal > .permission__list tr > td > input[type=checkbox]:checked + label::before, .modal > .permission__list tr > td > input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.modal > .permission__list tr > td > label {
  background: var(--background-color);
  border-radius: 6px;
  padding: 6px 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  border: 2px solid var(--details-hover-color);
}
.modal > .permission__list tr > td > label::before, .modal > .permission__list tr > td > label::after {
  content: "";
  position: absolute;
  background: var(--welcome-back-color);
  border-radius: 20px;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
.modal > .permission__list tr > td > label::before {
  width: 11px;
  bottom: 11px;
  left: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal > .permission__list tr > td > label::after {
  width: 16px;
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
  bottom: 14px;
  right: 4px;
}
.modal > .permission__list tr > td > label:hover {
  background: var(--section-color);
}
.modal > .permission__list tr > td:first-child {
  background: var(--details-hover-color);
}
.modal > button#createFolder {
  margin: 1em 8em -1em;
}

.modal > .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal > .choice > .item {
  width: 174px;
  height: 148px;
  background: var(--section-color);
  padding: 21px 24px;
  margin: 0 11px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}
.modal > .choice > .item > .document {
  position: absolute;
  top: 19px;
  width: 83px;
  height: 83px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal > .choice > .item:hover > .document {
  -webkit-transform: rotate3d(1, 1, 0, 41deg);
          transform: rotate3d(1, 1, 0, 41deg);
}
.modal > .choice > .item:hover > .folder > .document {
  top: -98px;
}
.modal > .choice > .item:hover > .folder > .pdf {
  top: -73px;
  left: 30px;
}
.modal > .choice > .item:hover > .folder > .image {
  top: -77px;
  left: -70px;
}
.modal > .choice > .item:hover > .folder > .folder-open {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.modal > .choice > .item > h4 {
  position: absolute;
  bottom: 11px;
  font-family: "montserrat-bold", sans-serif;
  font-size: 19px;
}
.modal > .choice > .item > .folder {
  position: relative;
}
.modal > .choice > .item > .folder > .icon {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal > .choice > .item > .folder > .folder-open {
  top: -54px;
  left: -41px;
  width: 83px;
  height: 83px;
}
.modal > .choice > .item > .folder > .image {
  top: -26px;
  left: -39px;
  -webkit-transform: rotate(322deg);
          transform: rotate(322deg);
}
.modal > .choice > .item > .folder > .document {
  top: -27px;
  left: -20px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}
.modal > .choice > .item > .folder > .pdf {
  top: -27px;
  left: 5px;
  -webkit-transform: rotate(26deg);
          transform: rotate(26deg);
}

.modal > h3.info {
  font-weight: normal;
  color: var(--welcome-back-color);
  background: var(--section-color);
  padding: 17px 22px;
  margin: 0 -38px;
}
.modal > h3.info:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: -17px;
}
.modal > h3.info:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: -27px;
}
.modal > h3.info:nth-child(even) {
  background: var(--details-color);
}
.modal > h3.info > span {
  font-family: "montserrat-bold", sans-serif;
  color: var(--text-color);
}

.alert__modal > h1 {
  font-size: 23px !important;
  margin-bottom: 14px !important;
}
.alert__modal > h4 {
  color: var(--welcome-back-color);
  margin-bottom: 19px;
  text-align: center;
  font-weight: normal;
}
.alert__modal > .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.alert__modal > .actions > .action {
  border: none;
  padding: 14px 22px;
  margin: 14px 21px;
  border-radius: 8px;
  font-size: 18px;
  font-family: "montserrat-medium", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
}
.alert__modal > .actions > .action.action__yes {
  border: 2px solid #5D49F5;
  background: #5D49F5;
  color: white;
}
.alert__modal > .actions > .action.action__yes:hover {
  background: transparent;
  color: #5D49F5;
}
.alert__modal > .actions > .action.action__no {
  border: 2px solid #5D49F5;
  color: #5D49F5;
}
.alert__modal > .actions > .action.action__no:hover {
  background: #5D49F5;
  color: white;
}

/* COMPONENT */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.home > section > .right__top {
  background: var(--section-color);
  width: 48em;
  height: 238px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home > section > .right__top > .top__left {
  padding: 60px 0;
}
.home > section > .right__top > .top__left > h1 {
  font-family: "kaleko-bold", sans-serif;
  font-size: 45px;
  margin: 0 49px;
}
.home > section > .right__top > .top__left > h4 {
  font-family: "kaleko-light", sans-serif;
  color: var(--welcome-back-color);
  font-size: 20px;
  margin: 29px 49px;
  font-weight: normal;
}
.home > section > .right__top > .top__picture {
  background: url(../images/model.png), center;
  background-size: cover;
  width: 238px;
  height: 100%;
}
.home > section > .right__bottom {
  background: var(--section-color);
  width: 48em;
  margin: 33px 0 0;
  border-radius: 20px;
}
.home > section > .right__bottom > .tools__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home > section > .right__bottom > .tools__wrapper > a {
  background: var(--theme-background);
  padding: 10px 27px;
  margin: 25px 18px;
  border-radius: 11px;
  width: 21em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home > section > .right__bottom > .tools__wrapper > a:hover {
  background: var(--details-color);
}
.home > section > .right__bottom > .tools__wrapper > a > h1 {
  font-family: "montserrat-medium", sans-serif;
  display: inline-block;
  position: relative;
  top: -29px;
  margin-right: 12px;
  font-size: 21px;
  width: 55%;
}
.home > section > .right__bottom > .tools__wrapper > a > .picture {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-size: cover !important;
  background-position: center !important;
}
.home > section > .right__bottom > .tools__wrapper > a > .picture.code {
  background: url(../images/3d/device.png);
}
.home > section > .right__bottom > .tools__wrapper > a > .picture.agenda {
  background: url(../images/3d/book.webp);
}
.home > section > .right__bottom > .tools__wrapper > a > .picture.todolist {
  background: url(../images/3d/todolist.png);
}
.home > section.last__files {
  background: var(--section-color);
  width: 24em;
  height: 64vh;
  margin-left: 35px;
  border-radius: 20px;
}
.home > section.last__files > h1 {
  font-family: "kaleko-bold", sans-serif;
  margin: 48px 56px;
  font-size: 26px;
  letter-spacing: 1px;
}
.home > section.last__files > .files {
  display: -ms-grid;
  display: grid;
}
.home > section.last__files > .files > a {
  background: var(--theme-background);
  padding: 14px 41px;
  margin: 10px 57px;
  border-radius: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home > section.last__files > .files > a:hover {
  background: var(--details-color);
}
.home > section.last__files > .files > a > span {
  position: relative;
  top: 0;
  display: inline-block;
}
.home > section.last__files > .files > a > p {
  position: relative;
  display: inline-block;
  font-size: 24px;
  top: -10px;
  left: 13px;
}

/* RESPONSIVE */
@media screen and (max-width: 1567px) {
  .home > section.last__files {
    width: 20em;
  }

  .home > section.last__files > .files > a {
    margin: 10px 24px;
  }

  .home > section.last__files > h1 {
    margin: 48px 0;
    text-align: center;
  }
}
@media screen and (max-width: 1481px) {
  .home {
    display: -ms-grid;
    display: grid;
    margin: 3em 0;
  }

  .home > section.last__files {
    width: 48em;
    height: auto;
    margin-left: unset;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .home > section.last__files > .files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2em;
  }
}
.login__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.login__wrapper > .left {
  width: 100%;
  height: 100%;
  background: url(../images/background.jpg) center;
  background-size: cover;
}
.login__wrapper > .right {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.login__wrapper > .right > .login__form {
  width: 30em;
  border-radius: 11px;
  padding: 70px 29px 31px;
  background: var(--section-color);
}
.login__wrapper > .right > .login__form > h1 {
  font-family: "kaleko-bold", sans-serif;
  font-size: 37px;
  text-align: center;
}
.login__wrapper > .right > .login__form > .form {
  margin: 3em 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__wrapper > .right > .login__form > .form > input {
  background: transparent;
  border: 1px solid var(--background-color);
  color: var(--text-color);
  display: block;
  padding: 17px 25px;
  border-radius: 10px;
  margin: 13px 0;
  width: 21em;
}
.login__wrapper > .right > .login__form > .form > input::-webkit-input-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input::-moz-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input:-ms-input-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input::-ms-input-placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input::placeholder {
  color: #6e6e6e;
}
.login__wrapper > .right > .login__form > .form > input.error {
  border: 1px solid #fe5959;
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::-webkit-input-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::-moz-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error:-ms-input-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::-ms-input-placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > input.error::placeholder {
  color: #fe5959;
}
.login__wrapper > .right > .login__form > .form > button {
  cursor: pointer;
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 100px;
  margin-top: 3em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
  border: 2px solid #5D49F5;
  color: #5D49F5;
  font-family: "montserrat-medium", sans-serif;
}
.login__wrapper > .right > .login__form > .form > button:hover {
  color: #FCFBFF;
  background: #5D49F5;
}

/* RESPONSIVE */
@media screen and (max-width: 1013px) {
  .login__wrapper {
    display: -ms-grid;
    display: grid;
  }
}
@media screen and (max-width: 519px) {
  .login__wrapper > .right > .login__form {
    width: 24em;
    padding: 37px 29px 0;
  }
}
.settings__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.settings__wrapper > .middle {
  background: var(--section-color);
  width: 34em;
  height: 45%;
  top: calc(50% - 438px / 2);
  left: calc(50% - 211px / 2);
  position: absolute;
  border-radius: 20px;
  padding: 40px 43px;
}
.settings__wrapper > .middle > h1 {
  font-family: "kaleko-bold", sans-serif;
}
.settings__wrapper > .middle > .fields > .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}
.settings__wrapper > .middle > .fields div {
  margin: 10px 10px;
}
.settings__wrapper > .middle > .fields div > h3 {
  font-family: "montserrat-medium", sans-serif;
  font-weight: normal;
  margin-bottom: 12px;
}
.settings__wrapper > .middle > .fields div > input {
  padding: 14px 14px;
  border-radius: 7px;
  border: none;
  background: var(--theme-background);
  color: var(--text-color);
  cursor: not-allowed;
}
.settings__wrapper > .middle > .fields > p {
  text-align: center;
  font-size: 23px;
  margin-top: 3em;
}
.settings__wrapper > .middle > .fields > p > b {
  font-family: "kaleko-bold", sans-serif;
  color: var(--welcome-back-color);
}

.links__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.links__wrapper > .links {
  background: var(--section-color);
  width: 34em;
  padding: 40px 43px 9px;
  top: calc(50% - 438px/2);
  left: calc(50% - 211px/2);
  position: absolute;
  border-radius: 20px;
}
.links__wrapper > .links > h1 {
  font-family: "kaleko-bold", sans-serif;
}
.links__wrapper > .links > .links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 26px 0;
}
.links__wrapper > .links > .links__list > .link {
  background-size: cover !important;
  background-position: center !important;
  padding: 45px 36px;
  margin: 10px 16px;
  border-radius: 20px;
  position: relative;
  width: 12em;
  height: 10em;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.links__wrapper > .links > .links__list > .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}
.links__wrapper > .links > .links__list > .link:hover > .filter {
  opacity: 40%;
}
.links__wrapper > .links > .links__list > .link > .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 70%;
  background: #0000006e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.links__wrapper > .links > .links__list > .link > h1 {
  font-family: "kaleko-bold", sans-serif;
  position: relative;
  z-index: 1;
  color: white;
}
.links__wrapper > .links > .links__list > .link.capytale {
  background: url(../images/links/capytale.jpg);
}
.links__wrapper > .links > .links__list > .link.tkinter {
  background: url(../images/links/tkinter.jpg);
}
.links__wrapper > .links > .links__list > .link.studio_code {
  background: url(../images/links/studio_code.jpg);
}

.files__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.files__section > .files__list {
  width: 53em;
  height: auto;
  min-height: 40em;
  margin: 3em 3em;
  position: relative;
  border-radius: 20px;
  background: var(--section-color);
}
.files__section > .files__list > h1 {
  font-family: "kaleko-bold", sans-serif;
  margin: 30px 36px;
}
.files__section > .files__list > .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 52px 32px;
}
.files__section > .files__list > .path > a > span {
  padding: 10px 13px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.files__section > .files__list > .path > a > span.root {
  font-family: "montserrat-bold", sans-serif;
}
.files__section > .files__list > .path > a:hover > span {
  background: #5D49F5;
  color: white;
}
.files__section > .files__list > .path > span {
  font-size: 22px;
  position: relative;
  top: -1px;
  font-family: "kaleko-bold", sans-serif;
  margin: 0 11px;
}
.files__section > .files__list > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 53px;
  padding-bottom: 1em;
}
.files__section > .files__list > .list > #open__choiceModal {
  padding: 13px 18px;
  border-radius: 11px;
  width: 215px;
  height: 149px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px 11px;
  border: 8px dotted #5D49F5;
  color: #5D49F5;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.files__section > .files__list > .list > #open__choiceModal:hover {
  border-color: #8c7efa;
}
.files__section > .files__list > .list > #open__choiceModal:hover > span {
  color: #8c7efa;
}
.files__section > .files__list > .list > #open__choiceModal > span {
  font-family: "kaleko-bold", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.files__section > .files__list > .list > #open__choiceModal > span.icon {
  top: 4px;
  right: 0;
}
.files__section > .files__list > .list > .file {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.files__section > .files__list > .list > .file > .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background-size: cover !important;
  background-position: center !important;
  cursor: pointer;
}
.files__section > .files__list > .list > .file > .icon {
  position: relative;
  top: 0;
}
.files__section > .files__list > .list > .file > .icon.more {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 40px;
  height: 40px;
}
.files__section > .files__list > .list > .file > .more__button {
  background: #5D49F5;
  padding: 0 3px;
  border-radius: 100px;
  position: absolute;
  top: -19px;
  right: -20px;
}
.files__section > .files__list > .list > .file > .more__button > .selector {
  list-style: none;
  position: absolute;
  left: -55px;
  top: 3.5em;
  z-index: 99;
  border-radius: 10px;
  background: var(--details-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}
.files__section > .files__list > .list > .file > .more__button > .selector > li, .files__section > .files__list > .list > .file > .more__button > .selector a {
  cursor: pointer;
  padding: 16px 25px;
  font-family: "montserrat-medium", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.files__section > .files__list > .list > .file > .more__button > .selector > li > .icon, .files__section > .files__list > .list > .file > .more__button > .selector a > .icon {
  position: relative;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
}
.files__section > .files__list > .list > .file > .more__button > .selector > li:first-child, .files__section > .files__list > .list > .file > .more__button > .selector a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.files__section > .files__list > .list > .file > .more__button > .selector > li:last-child, .files__section > .files__list > .list > .file > .more__button > .selector a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.files__section > .files__list > .list > .file > .more__button > .selector > li:hover, .files__section > .files__list > .list > .file > .more__button > .selector a:hover {
  background: var(--details-hover-color);
}
.files__section > .files__list > .list > .file > .more__button > .icon {
  position: relative;
  top: 3px;
  -webkit-filter: invert(100%) sepia(7%) saturate(7493%) hue-rotate(291deg) brightness(105%) contrast(112%);
          filter: invert(100%) sepia(7%) saturate(7493%) hue-rotate(291deg) brightness(105%) contrast(112%);
}
.files__section > .files__list > .list > .file > .details {
  height: 41px;
  position: absolute;
  bottom: -2px;
  background: var(--theme-background);
  width: 100%;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.files__section > .files__list > .list > .file > .details > h1 {
  top: -16px;
  position: relative;
  font-weight: normal;
  font-size: 14px;
}
.files__section > .files__list > .list > .file:hover {
  background: var(--theme-background) !important;
}
.files__section > .files__list > .list > .folder, .files__section > .files__list > .list > .file {
  background: var(--theme-background);
  margin: 20px 16px;
  padding: 17px 36px;
  border-radius: 11px;
  position: relative;
  width: 215px;
  height: 149px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.files__section > .files__list > .list > .folder:hover, .files__section > .files__list > .list > .file:hover {
  background: var(--details-color);
}
.files__section > .files__list > .list > .folder > .icon, .files__section > .files__list > .list > .file > .icon {
  width: 80px;
  height: 80px;
  margin-top: -14px;
  cursor: unset;
  z-index: 2;
}
.files__section > .files__list > .list > .folder h1, .files__section > .files__list > .list > .file h1 {
  font-family: "montserrat-regular", sans-serif;
  margin-top: 27px;
  text-align: center;
  font-size: 18px;
}
.files__section > .files__list > .list > .no__files {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6em;
}
.files__section > .files__list > .list > .no__files > h1 {
  font-family: "kaleko-bold", sans-serif;
  margin-bottom: 14px;
}
.files__section > .files__tree {
  width: 25em;
  height: auto;
  min-height: 40em;
  padding: 43px 24px;
  border-radius: 20px;
  background: var(--section-color);
}
.files__section > .files__tree > .folder {
  position: relative;
  margin: 0 41px 17px;
}
.files__section > .files__tree > .folder.root {
  font-family: "kaleko-bold", sans-serif;
  margin-left: 22px;
}
.files__section > .files__tree > .folder > span {
  font-size: 18px;
}
.files__section > .files__tree > .folder:before {
  position: absolute;
  top: 10px;
  left: -20px;
  width: 12px;
  height: 3px;
  content: "";
  border-radius: 100px;
  background: var(--text-color);
}
.files__section > .files__tree > .folder:first-child:before {
  display: none;
}
.files__section > .files__tree > .folder:last-child:after {
  display: none;
}
.files__section > .files__tree > .folder:after {
  position: absolute;
  top: 35px;
  left: -11px;
  width: 22px;
  height: 3px;
  content: "";
  border-radius: 100px;
  background: var(--text-color);
  -webkit-transform: rotate(91deg);
          transform: rotate(91deg);
}

/* END IMPORTS */
/* OVERFLOW */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--theme-background);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #5D49F5;
  border: 2px solid var(--theme-background);
  border-radius: 100px;
}

/* END OVERFLOW */